@import "tailwindcss";
@config "./tailwind.config.js";

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Book.otf') format('opentype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-BookItalic.otf') format('opentype');
    font-weight: 450;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('/assets/fonts/Suisse Intl/SuisseIntl-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@layer base {
    body {
        @apply bg-brand-black text-white antialiased;
    }
}